<!DOCTYPE html>
<html lang="pt-br">
  <%- include header %>
  <body>
    <header>
      <%- include nav %>
    </header>
    <main>
      <div class="container"></div>
    </main>
    <%- include footer %>

  </body>
</html>
