<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      Signo das celebridades</a>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-search" class="right">
      <form action="signo">
        <div class="center">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <input
            placeholder="Celebridade" id="first_name"
            type="text"
            name="search"
          />
        </div>
      </form>
    </ul>
  </div>
</nav>
