<% if(result){ %>
    <div class="card center">
      <div class="card-title">
        <img
          class="responsive-img"
          src="<%= result.imagem %>"
          height="20%"
          width="20%"
        />
      </div>
      <div class="card-content">
        <p><%= result.nome %></p>
        <p><strong>Data Nascimento </strong><%= dn %></p>
        <p><strong>Signo </strong><%= result.signo %></p>
      </div>
    </div>

    <% } %>